/* index　におけるコマンド */
body{
    font-size: 20px;
    background-color: white;
}
h1{
    text-align: right;
    font-family: "Monotype Corsiva";
    font-size: 50px;
    background-color: black;
    color: whitesmoke;
    background-image: url('./image/ev_front2.jpg');
    background-size: 90%;
    background-position: center top;
    background-repeat: no-repeat;
}
h2{
    text-align: left;
    font-size: 30px;
    background-color: white;
    color: black;
}
.intro{
    font-size: 30px;
    text-align: left;
    line-height: 1.5;
}
hr{
    background-color: orange;
    height: 5px;
    width: 80%;
    margin-left: 0;
    border: none;
}
.url{
    position: relative;
    padding: 10px 0px 20px 0px;
    font-size: 25px;
}
.web_date{
    position: relative;
    top: 20px;
    font-size: 20px;
}




/* 年表におけるコマンド */
.timeline {
    width: 100%;
    max-width: 940px;
    margin: 5px auto;
    border: 0.5px solid #eeeeee;
    align-items: left;
}
.timeline-list {
    padding: 20px 0;
}
.timeline-list-item {
    display: flex;
    line-height: 1.5;
    font-size: 16px;
}
.timeline-list-item .date {
    width: 15%;
    padding: 0 0 0 20px;
}
.timeline-list-item .date .year{
    font-weight: bold;
    color: #888888;
}
.timeline-list-item .date .day{
    font-weight: bold;
    font-size: 20px;
    color: black;
}
.timeline-list-item .line {
    position: relative;
    width: 5%;
    border-left: 1px solid gray;
    left: -0px;
}
.timeline-list-item .icon {
    position: absolute;
    width: 5%;
    left: -15px;
}
.timeline-list-item .content {
    position: relative;
    width: 80%;
    padding: 0 20px 60px 15px;
}
.timeline-list-item .content .what{
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 5px;
}
.ideas{
    list-style-type: square;
}
/* 
.ideas-prezen{
    list-style-type: none;
}
*/

/*これからの目標で色を変えたかったけどマジ無理*/





/* MAP におけるコマンド */
.map{
    position: relative; 
    width: 100%;
}
.map button.takefu_sta{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
button{
    font-size: 18px;
    border-radius: 10px;
    background-color: rgb(62, 150, 233);
    padding: 10px;
    text-decoration: none;
    color: black;
}
