/* 共通のコマンド */
body{
    font-size: 20px;
    margin: 0 10px 20px 10px;
    background-color: white;
}
section{
    margin-bottom: 100px;
}
h2{
    text-align: left;
    font-size: 30px;
    background-color: white;
    color: black;
}
.intro{
    font-size: 30px;
    text-align: left;
    line-height: 1.5;
}
hr{
    background-color: orange;
    height: 5px;
    width: 80%;
    margin-left: 0;
    border: none;
}
.url{
    position: relative;
    padding: 10px 0px 20px 0px;
    font-size: 25px;
}
.web_date{
    position: relative;
    top: 20px;
    font-size: 20px;
}





/* ヘッダーにおけるコマンド */
.header{
    position: relative;
    width: 100%;
    height: 500px;
}
.header .frame_black{
    position: absolute;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 110%;
    background-color: black;
}
.header .frame_rear{
    position: absolute;
    top: 0%;
    left: 75%;
    width: calc(100%-left);
    height: 60%;
    font-size: 30px;
    font-family: "HG行書体";
    color: whitesmoke;
    background-color: black;
    border: none;
}
.header .frame_front{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 70%;
    height: 80%;
    background-color: red;
    border: none;
}
.header .frame_front .fig_front{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header .frame_logo{
    position: absolute;
    top: 70%;
    left: 50%;
    width: calc(100%-left);
    height: calc(100%-top);
    border: none;
}
.header .frame_logo .fig_logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header h1{
    position: absolute;
    top: 75%;
    right: 50%;
    font-family: "Monotype Corsiva";
    font-size: 70px;
    background-color: white;
    color: black;
}







/* TOPeeって何？におけるコマンド */
.what_topee{
    margin-bottom: 0px;
}






/* プロジェクトメンバーにおけるコマンド */
.member_list{
    list-style: none;
}
.member_list h3{
    display: flex;
}







/* 年表におけるコマンド */
.timeline {
    width: 100%;
    max-width: 940px;
    margin: 5px auto;
    border: 0.5px solid #eeeeee;
    align-items: left;
}
.timeline-list {
    padding: 20px 0;
}
.timeline-list-item {
    display: flex;
    line-height: 1.5;
    font-size: 16px;
}
.timeline-list-item .date {
    width: 15%;
    padding: 2px 0 0 20px;
}
.timeline-list-item .date .year{
    font-weight: bold;
    color: #888888;
}
.timeline-list-item .date .day{
    font-weight: bold;
    font-size: 20px;
    color: black;
}
.timeline-list-item .line {
    position: relative;
    width: 5%;
    border-left: 1px solid gray;
    left: -0px;
}
.timeline-list-item .icon {
    position: absolute;
    width: 5%;
    top: 0;
    left: -20px;
}
.timeline-list-item .content {
    position: relative;
    width: 80%;
    padding: 2px 20px 60px 15px;
}
.timeline-list-item .content .what{
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 5px;
}
.ideas{
    list-style-type: square;
}
/* 
.ideas-prezen{
    list-style-type: none;
}
*/




/* MAP におけるコマンド */
.map{
    position: relative; 
    width: 100%;
}
.map button.takefu_sta{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
button{
    font-size: 18px;
    border-radius: 10px;
    background-color: rgb(62, 150, 233);
    padding: 10px;
    text-decoration: none;
    color: black;
}
